<div class="pages-container container">
    <h1>Standard Pages</h1>
    <p class="text-warning">The correct account-name directory must have been created and selected for the tools to function
        properly.</p>
    <p class="text-warning"><span class="sesame-green">IMPORTANT:</span> You must first
        <a class="sesame-blue" href="http://localhost:8888/dashboard/#/ddu" target="_self"> ADD IMAGES</a> to their
        respective directories before selecting and applying them to the tools.</p>
    <mat-tab-group>
        <mat-tab label="Office Tour">
            <office-tour></office-tour>
        </mat-tab>

        <mat-tab label="Before and After">
            <before-and-after></before-and-after>
        </mat-tab>

        <mat-tab label="Meet The Team">
            <dev-meet-the-team></dev-meet-the-team>
        </mat-tab>

        <mat-tab label="Location">
            <dev-location></dev-location>
        </mat-tab>
    </mat-tab-group>
</div>
