<div class="canadian-content-container container">

    <h1>Canadian Content</h1>

    <div class="row">

        <div class="col-lg-4 col-md-4 col-sm-12 wow fadeIn">

            <!-- DENTAL -->
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title class="text-uppercase sesame-blue">
                        Dental
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div><a (click)="onGetCanadianContent('dental', 'common-procedures')">Common Procedures</a></div>
                <div><a (click)="onGetCanadianContent('dental', 'dental-exams-and-cleanings')">Dental Exams and
                    Cleaning</a></div>
                <div><a (click)="onGetCanadianContent('dental', 'dental-faqs')">Dental FAQs</a></div>
                <div><a (click)="onGetCanadianContent('dental', 'dentures')">Dentures</a></div>
                <div><a (click)="onGetCanadianContent('dental', 'fluoride')">Fluoride</a></div>
                <div><a (click)="onGetCanadianContent('dental', 'office-visits')">Office Visits</a></div>
                <div><a (click)="onGetCanadianContent('dental', 'maxillofacial-surgery')">Maxillofacial
                    Surgery</a></div>
                <div><a (click)="onGetCanadianContent('dental', 'oral-cancer')">Oral Cancer</a></div>
                <div><a (click)="onGetCanadianContent('dental', 'oral-cancer-screening')">Oral Cancer
                    Screening</a></div>
                <div><a (click)="onGetCanadianContent('dental', 'oral-surgery')">Oral Surgery</a></div>
                <div><a (click)="onGetCanadianContent('dental', 'prosthodontics')">Prosthodontics</a></div>
                <div><a (click)="onGetCanadianContent('dental', 'sedation-dentistry')">Sedation Dentistry</a>
                </div>
                <div><a (click)="onGetCanadianContent('dental', 'sleep-apnea')">Sleep Apnea</a></div>
                <div><a (click)="onGetCanadianContent('dental', 'teeth-for-life')">Teeth For Life</a></div>
                <div><a (click)="onGetCanadianContent('dental', 'velscope')">VELscope</a></div>
                <div><a (click)="onGetCanadianContent('dental', 'vizilite')">ViziLite</a></div>
                <div><a (click)="onGetCanadianContent('dental', 'tmj-tmd')">TMJ-TMD</a></div>
            </mat-expansion-panel>

            <!-- ENDO -->
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title class="text-uppercase sesame-blue">
                        Endo
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div><a (click)="onGetCanadianContent('endo', 'what-is-an-endodontist')">What Is An
                    Endodontist</a>
                </div>

            </mat-expansion-panel>

            <!-- ORTHO -->
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title class="text-uppercase sesame-blue">
                        Ortho
                    </mat-panel-title>
                </mat-expansion-panel-header>


                <div><a (click)="onGetCanadianContent('ortho', 'early-prevention')">Early Prevention</a></div>
                <div><a (click)="onGetCanadianContent('ortho', 'fluoride')">Fluoride</a></div>
                <div><a (click)="onGetCanadianContent('ortho', 'for-all-ages')">For All Ages</a></div>
                <div><a (click)="onGetCanadianContent('ortho', 'for-children')">For Children</a></div>
                <div><a (click)="onGetCanadianContent('ortho', 'how-to-choose-an-orthodontist')">How To Choose An
                    Orthodontist</a></div>
                <div><a (click)="onGetCanadianContent('ortho', 'mouthguards')">Mouthguards</a></div>
                <div><a (click)="onGetCanadianContent('ortho', 'ortho-faqs')">Ortho FAQs</a></div>
                <div><a (click)="onGetCanadianContent('ortho', 'sleep-apnea')">Sleep Apnea</a></div>
                <div><a (click)="onGetCanadianContent('ortho', 'treatment-options')">Treatment Options</a></div>
                <div><a (click)="onGetCanadianContent('ortho', 'about-orthodontics')">About Orthodontics</a></div>
                <div><a (click)="onGetCanadianContent('ortho', 'damon-smile')">Damon Smile</a></div>
                <div><a (click)="onGetCanadianContent('ortho', 'damon-smile-costs')">Damon Smile Costs</a></div>
                <div><a (click)="onGetCanadianContent('ortho', 'damon-smile-faqs')">Damon Smile FAQS</a></div>
                <div><a (click)="onGetCanadianContent('ortho', 'damon-smile-for-adults')">Damon Smile For
                    Adults</a></div>
                <div><a (click)="onGetCanadianContent('ortho', 'insignia')">Insignia</a></div>
                <div><a (click)="onGetCanadianContent('ortho', 'invisalign-teen')">Invisalign Teen</a></div>
                <div><a (click)="onGetCanadianContent('ortho', 'invisalign')">Invisalign</a>
                    <div class="small indent28">(REMOVE INVISALIGN FOOTER/SOCIAL LINKS IN ALL PROPACK PAGES)
                    </div>
                </div>
                <div><a (click)="onGetCanadianContent('ortho', 'office-visits')">Office Visits</a></div>
                <div><a (click)="onGetCanadianContent('ortho', 'two-phase-treatment')">Two Phase Treatment</a>
                </div>

            </mat-expansion-panel>

            <!-- PEDO -->
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title class="text-uppercase sesame-blue">
                        Pedo
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <!-- sub groups -->

                <div><a (click)="onGetCanadianContent('pedo', 'fluoride')">Fluoride</a></div>
                <div><a (click)="onGetCanadianContent('pedo', 'how-to-choose-a-pediatric-dentist')">How To Choose
                    A Pediatric Dentist</a></div>
                <div><a (click)="onGetCanadianContent('pedo', 'mouthguards')">Mouthguards</a></div>
                <div><a (click)="onGetCanadianContent('pedo', 'office-visits')">Office Visits</a></div>
                <div><a (click)="onGetCanadianContent('pedo', 'pedo-dental-faqs')">Pediatric Dental FAQs</a></div>
                <div><a (click)="onGetCanadianContent('pedo', 'pediatric-dentistry')">Pediatric Dentistry</a>
                </div>
                <div><a (click)="onGetCanadianContent('pedo', 'special-needs-dentistry')">Special Needs
                    Dentistry</a></div>
                <div><a (click)="onGetCanadianContent('pedo', 'teeth-for-life')">Teeth For Life</a></div>
                <div><a (click)="onGetCanadianContent('pedo', 'thumb-sucking')">Thumb Sucking</a></div>

            </mat-expansion-panel>

            <!-- PERIO -->
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title class="text-uppercase sesame-blue">
                        Perio
                    </mat-panel-title>
                </mat-expansion-panel-header>


                <div><a (click)="onGetCanadianContent('perio', 'gum-disease')">Gum Disease</a></div>
                <div><a (click)="onGetCanadianContent('perio', 'gum-disease-prevention')">Gum Disease
                    Prevention</a></div>
                <div><a (click)="onGetCanadianContent('perio', 'oral-health-tips-to-prevent')">Oral Health Tips
                    To Avoid Gum Disease</a></div>
                <div><a (click)="onGetCanadianContent('perio', 'periodontal-faqs')">Periodontal FAQs</a></div>
                <div><a (click)="onGetCanadianContent('perio', 'sedation-dentistry')">Sedation Dentistry</a></div>
                <div><a (click)="onGetCanadianContent('perio', 'what-is-gum-disease')">What Is Gum Disease?</a>
                </div>

            </mat-expansion-panel>

            <!-- PROSTHO -->
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title class="text-uppercase sesame-blue">
                        Prostho
                    </mat-panel-title>
                </mat-expansion-panel-header>


                <div><a (click)="onGetCanadianContent('prostho', 'dentures')">Dentures</a></div>
                <div><a (click)="onGetCanadianContent('prostho', 'prosthodontics')">Prosthodontics</a></div>
                <div><a (click)="onGetCanadianContent('prostho', 'what-is-a-prosthodontist')">What Is A
                    Prosthodontiist</a></div>

            </mat-expansion-panel>

        </div><!-- end col -->

        <div class="col-lg-8 col-md-8 col-sm-12 wow fadeIn"  *ngIf="canadiancontent">
            <h3 class="sesame-green">[{{pageType | capitalizeEachWord}}] {{pageName | replaceDashSpace |
                capitalizeEachWord }}</h3>

            <div class="sesame-blue" (click)="onCopyThisHTMLToClipboard('#canadian-content');"
                 data-target="#canadian-content">
                <mat-icon >file_copy
            </mat-icon>  Grab your HTML</div>

            <div *ngIf="canadiancontent" class="copy sesame-blue">
                <pre id="canadian-content" class="wow fadeIn">{{canadiancontent}}</pre>
            </div>

        </div><!-- end col2 -->

    </div>
</div>
