node_modules
dashboard/node_modules
dashboard/data/user-data.json
./dashboard/data/site-context.json
./dashboard/data/builder-data.json
.DS_Store
king-gary1/**/*
king-gary1/**/*
king-gary2/**/*
king-gary3/**/*
king-gary4/**/*
king-gary5/**/*
king-gary6/**/*
king-gary7/**/*
king-gary8/**/*
king-gary9/**/*
dashboard/buildkits/resources/king-gary1-buildkit/
dashboard/buildkits/resources/king-gary2-buildkit/
dashboard/buildkits/resources/king-gary3-buildkit/
dashboard/buildkits/resources/king-gary4-buildkit/
dashboard/buildkits/resources/king-gary5-buildkit/
dashboard/buildkits/resources/king-gary6-buildkit/
dashboard/buildkits/resources/king-gary7-buildkit/
dashboard/buildkits/resources/king-gary8-buildkit/
dashboard/buildkits/resources/king-gary9-buildkit/
dashboard/src/.DS_Store
dashboard/buildkits/resources/king-gary1-buildkit/assets dashboard/buildkits/resources/king-gary1-buildkit/layout.php
dashboard/buildkits/resources/king-gary2-buildkit/assets dashboard/buildkits/resources/king-gary2-buildkit/layout.php
dashboard/buildkits/resources/king-gary3-buildkit/assets dashboard/buildkits/resources/king-gary3-buildkit/layout.php
dashboard/buildkits/resources/king-gary4-buildkit/assets dashboard/buildkits/resources/king-gary4-buildkit/layout.php
dashboard/buildkits/resources/king-gary5-buildkit/assets dashboard/buildkits/resources/king-gary5-buildkit/layout.php
dashboard/buildkits/resources/king-gary6-buildkit/assets dashboard/buildkits/resources/king-gary6-buildkit/layout.php
dashboard/buildkits/resources/king-gary7-buildkit/assets dashboard/buildkits/resources/king-gary7-buildkit/layout.php
dashboard/buildkits/resources/king-gary8-buildkit/assets dashboard/buildkits/resources/king-gary8-buildkit/layout.php
dashboard/buildkits/resources/king-gary9-buildkit/assets dashboard/buildkits/resources/king-gary9-buildkit/layout.php
*.idea/misc.xml
*.idea/workspace.xml
.idea
./dashboard/buildkits/resources/css-resources/01-css-temp
dashboard/buildkits/resources/css-resources/01-css-temp
dashboard/buildkits/resources/temp/
dashboard/buildkits/resources/temp/**
dashboard/buildkits/resources/temp/**/*
./dashboard/buildkits/resources/temp/
./dashboard/buildkits/resources/temp/**
./dashboard/buildkits/resources/temp/**/*
#.less
#slideshow.less
dashboard/buildkits/resources/css-resources/01-css-temp/01-slideshow.less
dashboard/buildkits/resources/css-resources/01-css-temp/02-slideshow.less
dashboard/buildkits/resources/css-resources/01-css-temp/03-slideshow.less
dashboard/buildkits/resources/css-resources/01-css-temp/04-slideshow.less
dashboard/buildkits/resources/css-resources/01-css-temp/05-slideshow.less
#spotlight-one-horizontal.less
dashboard/buildkits/resources/css-resources/01-css-temp/01-spotlight-one-horizontal.less
dashboard/buildkits/resources/css-resources/01-css-temp/02-spotlight-one-horizontal.less
dashboard/buildkits/resources/css-resources/01-css-temp/03-spotlight-one-horizontal.less
dashboard/buildkits/resources/css-resources/01-css-temp/04-spotlight-one-horizontal.less
dashboard/buildkits/resources/css-resources/01-css-temp/05-spotlight-one-horizontal.less
#spotlight-two-horizontal.less
dashboard/buildkits/resources/css-resources/01-css-temp/01-spotlight-two-horizontal.less
dashboard/buildkits/resources/css-resources/01-css-temp/02-spotlight-two-horizontal.less
dashboard/buildkits/resources/css-resources/01-css-temp/03-spotlight-two-horizontal.less
dashboard/buildkits/resources/css-resources/01-css-temp/04-spotlight-two-horizontal.less
dashboard/buildkits/resources/css-resources/01-css-temp/05-spotlight-two-horizontal.less
#spotlight-three-horizontal.less
dashboard/buildkits/resources/css-resources/01-css-temp/01-spotlight-three-horizontal.less
dashboard/buildkits/resources/css-resources/01-css-temp/02-spotlight-three-horizontal.less
dashboard/buildkits/resources/css-resources/01-css-temp/03-spotlight-three-horizontal.less
dashboard/buildkits/resources/css-resources/01-css-temp/04-spotlight-three-horizontal.less
dashboard/buildkits/resources/css-resources/01-css-temp/05-spotlight-three-horizontal.less
#spotlight-four-horizontal.less
dashboard/buildkits/resources/css-resources/01-css-temp/01-spotlight-four-horizontal.less
dashboard/buildkits/resources/css-resources/01-css-temp/02-spotlight-four-horizontal.less
dashboard/buildkits/resources/css-resources/01-css-temp/03-spotlight-four-horizontal.less
dashboard/buildkits/resources/css-resources/01-css-temp/04-spotlight-four-horizontal.less
dashboard/buildkits/resources/css-resources/01-css-temp/05-spotlight-four-horizontal.less
#spotlight-five-horizontal.less
dashboard/buildkits/resources/css-resources/01-css-temp/01-spotlight-five-horizontal.less
dashboard/buildkits/resources/css-resources/01-css-temp/02-spotlight-five-horizontal.less
dashboard/buildkits/resources/css-resources/01-css-temp/03-spotlight-five-horizontal.less
dashboard/buildkits/resources/css-resources/01-css-temp/04-spotlight-five-horizontal.less
dashboard/buildkits/resources/css-resources/01-css-temp/05-spotlight-five-horizontal.less
#content.less
dashboard/buildkits/resources/css-resources/01-css-temp/01-content.less
dashboard/buildkits/resources/css-resources/01-css-temp/02-content.less
dashboard/buildkits/resources/css-resources/01-css-temp/03-content.less
dashboard/buildkits/resources/css-resources/01-css-temp/04-content.less
dashboard/buildkits/resources/css-resources/01-css-temp/05-content.less
#testimonials.less
dashboard/buildkits/resources/css-resources/01-css-temp/01-testimonials.less
dashboard/buildkits/resources/css-resources/01-css-temp/02-testimonials.less
dashboard/buildkits/resources/css-resources/01-css-temp/03-testimonials.less
dashboard/buildkits/resources/css-resources/01-css-temp/04-testimonials.less
dashboard/buildkits/resources/css-resources/01-css-temp/05-testimonials.less
#spotlight-column-img-left.less
dashboard/buildkits/resources/css-resources/01-css-temp/01-spotlight-column-img-left.less
dashboard/buildkits/resources/css-resources/01-css-temp/02-spotlight-column-img-left.less
dashboard/buildkits/resources/css-resources/01-css-temp/03-spotlight-column-img-left.less
dashboard/buildkits/resources/css-resources/01-css-temp/04-spotlight-column-img-left.less
dashboard/buildkits/resources/css-resources/01-css-temp/05-spotlight-column-img-left.less
#spotlight-column-img-right.less
dashboard/buildkits/resources/css-resources/01-css-temp/01-spotlight-column-img-right.less
dashboard/buildkits/resources/css-resources/01-css-temp/02-spotlight-column-img-right.less
dashboard/buildkits/resources/css-resources/01-css-temp/03-spotlight-column-img-right.less
dashboard/buildkits/resources/css-resources/01-css-temp/04-spotlight-column-img-right.less
dashboard/buildkits/resources/css-resources/01-css-temp/05-spotlight-column-img-right.less
#association-logos.less
dashboard/buildkits/resources/css-resources/01-css-temp/01-association-logos.less
dashboard/buildkits/resources/css-resources/01-css-temp/02-association-logos.less
dashboard/buildkits/resources/css-resources/01-css-temp/03-association-logos.less
dashboard/buildkits/resources/css-resources/01-css-temp/04-association-logos.less
dashboard/buildkits/resources/css-resources/01-css-temp/05-association-logos.less
#.scss
#slideshow.less
dashboard/buildkits/resources/css-resources/01-css-temp/01-slideshow.scss
dashboard/buildkits/resources/css-resources/01-css-temp/02-slideshow.scss
dashboard/buildkits/resources/css-resources/01-css-temp/03-slideshow.scss
dashboard/buildkits/resources/css-resources/01-css-temp/04-slideshow.scss
dashboard/buildkits/resources/css-resources/01-css-temp/05-slideshow.scss
#spotlight-one-horizontal.scss
dashboard/buildkits/resources/css-resources/01-css-temp/01-spotlight-one-horizontal.
dashboard/buildkits/resources/css-resources/01-css-temp/02-spotlight-one-horizontal.scss
dashboard/buildkits/resources/css-resources/01-css-temp/03-spotlight-one-horizontal.scss
dashboard/buildkits/resources/css-resources/01-css-temp/04-spotlight-one-horizontal.scss
dashboard/buildkits/resources/css-resources/01-css-temp/05-spotlight-one-horizontal.scss
#spotlight-two-horizontal.scss
dashboard/buildkits/resources/css-resources/01-css-temp/01-spotlight-two-horizontal.scss
dashboard/buildkits/resources/css-resources/01-css-temp/02-spotlight-two-horizontal.scss
dashboard/buildkits/resources/css-resources/01-css-temp/03-spotlight-two-horizontal.scss
dashboard/buildkits/resources/css-resources/01-css-temp/04-spotlight-two-horizontal.scss
dashboard/buildkits/resources/css-resources/01-css-temp/05-spotlight-two-horizontal.scss
#spotlight-three-horizontal.scss
dashboard/buildkits/resources/css-resources/01-css-temp/01-spotlight-three-horizontal.scss
dashboard/buildkits/resources/css-resources/01-css-temp/02-spotlight-three-horizontal.scss
dashboard/buildkits/resources/css-resources/01-css-temp/03-spotlight-three-horizontal.scss
dashboard/buildkits/resources/css-resources/01-css-temp/04-spotlight-three-horizontal.scss
dashboard/buildkits/resources/css-resources/01-css-temp/05-spotlight-three-horizontal.scss
#spotlight-four-horizontal.scss
dashboard/buildkits/resources/css-resources/01-css-temp/01-spotlight-four-horizontal.scss
dashboard/buildkits/resources/css-resources/01-css-temp/02-spotlight-four-horizontal.scss
dashboard/buildkits/resources/css-resources/01-css-temp/03-spotlight-four-horizontal.scss
dashboard/buildkits/resources/css-resources/01-css-temp/04-spotlight-four-horizontal.scss
dashboard/buildkits/resources/css-resources/01-css-temp/05-spotlight-four-horizontal.scss
#spotlight-five-horizontal.scss
dashboard/buildkits/resources/css-resources/01-css-temp/01-spotlight-five-horizontal.scss
dashboard/buildkits/resources/css-resources/01-css-temp/02-spotlight-five-horizontal.scss
dashboard/buildkits/resources/css-resources/01-css-temp/03-spotlight-five-horizontal.scss
dashboard/buildkits/resources/css-resources/01-css-temp/04-spotlight-five-horizontal.scss
dashboard/buildkits/resources/css-resources/01-css-temp/05-spotlight-five-horizontal.scss
#content.scss
dashboard/buildkits/resources/css-resources/01-css-temp/01-content.scss
dashboard/buildkits/resources/css-resources/01-css-temp/02-content.scss
dashboard/buildkits/resources/css-resources/01-css-temp/03-content.scss
dashboard/buildkits/resources/css-resources/01-css-temp/04-content.scss
dashboard/buildkits/resources/css-resources/01-css-temp/05-content.scss
#testimonials.scss
dashboard/buildkits/resources/css-resources/01-css-temp/01-testimonials.scss
dashboard/buildkits/resources/css-resources/01-css-temp/02-testimonials.scss
dashboard/buildkits/resources/css-resources/01-css-temp/03-testimonials.scss
dashboard/buildkits/resources/css-resources/01-css-temp/04-testimonials.scss
dashboard/buildkits/resources/css-resources/01-css-temp/05-testimonials.scss
#spotlight-column-img-left.scss
dashboard/buildkits/resources/css-resources/01-css-temp/01-spotlight-column-img-left.scss
dashboard/buildkits/resources/css-resources/01-css-temp/02-spotlight-column-img-left.scss
dashboard/buildkits/resources/css-resources/01-css-temp/03-spotlight-column-img-left.scss
dashboard/buildkits/resources/css-resources/01-css-temp/04-spotlight-column-img-left.scss
dashboard/buildkits/resources/css-resources/01-css-temp/05-spotlight-column-img-left.scss
#spotlight-column-img-right.scss
dashboard/buildkits/resources/css-resources/01-css-temp/01-spotlight-column-img-right.scss
dashboard/buildkits/resources/css-resources/01-css-temp/02-spotlight-column-img-right.scss
dashboard/buildkits/resources/css-resources/01-css-temp/03-spotlight-column-img-right.scss
dashboard/buildkits/resources/css-resources/01-css-temp/04-spotlight-column-img-right.scss
dashboard/buildkits/resources/css-resources/01-css-temp/05-spotlight-column-img-right.scss
#association-logos.scss
dashboard/buildkits/resources/css-resources/01-css-temp/01-association-logos.scss
dashboard/buildkits/resources/css-resources/01-css-temp/02-association-logos.scss
dashboard/buildkits/resources/css-resources/01-css-temp/03-association-logos.scss
dashboard/buildkits/resources/css-resources/01-css-temp/04-association-logos.scss
dashboard/buildkits/resources/css-resources/01-css-temp/05-association-logos.scss

## .php
#association-logos.php
dashboard/buildkits/resources/temp/01-association-logos.php
dashboard/buildkits/resources/temp/02-association-logos.php
dashboard/buildkits/resources/temp/03-association-logos.php
dashboard/buildkits/resources/temp/04-association-logos.php
dashboard/buildkits/resources/temp/05-association-logos.php
#slideshow.php
dashboard/buildkits/resources/temp/01-slideshow.php
dashboard/buildkits/resources/temp/02-slideshow.php
dashboard/buildkits/resources/temp/03-slideshow.php
dashboard/buildkits/resources/temp/04-slideshow.php
dashboard/buildkits/resources/temp/05-slideshow.php
#content.php
dashboard/buildkits/resources/temp/01-content.php
dashboard/buildkits/resources/temp/02-content.php
dashboard/buildkits/resources/temp/03-content.php
dashboard/buildkits/resources/temp/04-content.php
dashboard/buildkits/resources/temp/05-content.php
#testimonials.php
dashboard/buildkits/resources/temp/01-testimonials.php
dashboard/buildkits/resources/temp/02-testimonials.php
dashboard/buildkits/resources/temp/03-testimonials.php
dashboard/buildkits/resources/temp/04-testimonials.php
dashboard/buildkits/resources/temp/05-testimonials.php
.idea