<div class="container" style="z-index: 420; position: relative;">

    <!--<ul class="subnav nav nav-tabs " role="tablist">
        <li><a class="cursor-pointer" [routerLink]="['/sections']"
               [routerLinkActive]="['active']">Buildkit</a></li>


        <li class="dropdown"><a class="cursor-pointer" [routerLink]="['/buildkit-links']"
               [routerLinkActive]="['active']">Resources</a>
            <ul class="resources dropdown-content">
                <li><a class="cursor-pointer" [routerLink]="['/css']"
                       [routerLinkActive]="['active']">Variables</a></li>

                <li><a class="cursor-pointer" [routerLink]="['/css-mixins']"
                       [routerLinkActive]="['active']">Mixins</a></li>
                <li><a class="cursor-pointer" [routerLink]="['/build-info']" [routerLinkActive]="['active']">Support (beta)</a></li>
                <li><a class="cursor-pointer" href="https://confluence.internetbrands.com/display/PD/Web+Team+Home"
                       target="_blank">WebDev WIKI</a></li>
                <li><a class="cursor-pointer" href="https://confluence.internetbrands.com/display/PD/Site+Manager"
                       target="_blank">SM WIKI</a></li>
            </ul>
        </li>


    </ul>-->
    <!--<li style="text-align: center;">
           <button class="btn btn-default" style=" color: #fff; width: 220px;">
               <a class="bold" style="text-decoration: none; color: #fff;"
                  href="https://confluence.internetbrands.com/display/PD/Site+Manager" target="_blank">
                   Web Team Home WIKI</a>
           </button>
       </li>

       <li style="text-align: center;">
           <button class="btn btn-default" style=" color: #fff; width: 220px;">
               <a class="bold" style="color: #fff; text-decoration: none; max-width: 130px;"
                  href="https://confluence.internetbrands.com/display/PD/Site+Manager" target="_blank">
                   Site Manager WIKI</a>
           </button>
       </li>-->


</div>

