<!-- buttons at top of pages used to submit to json files via parent, service, endpoint to account-name -->
<div>
    <button mat-raised-button
            class="float-start"
            style="margin-right: 5px;"
            type="submit"><mat-icon class=" sesame-blue">save</mat-icon> Save
    </button>
    <!-- add item -->
    <!--<button type="button" mat-raised-button (click)="addItem()">
        <mat-icon class="mat-18 sesame-blue">add</mat-icon>
        Add
    </button>-->

    <br/> <br/>

    <div class="clear"></div>
</div>
