/.angular/cache
node_modules
dashboard/data/user-data.json
#dashboard/data/builder-data.json
dashboard/node_modules
/dashboard/app/archives
/archives/**
/dashboard/dev-tools/archives
dashboard/buildkits/resources/css-temp/*
!dashboard/buildkits/
!dashboard/buildkits/*
!dashboard/buildkits/**
!dashboard/buildkits/**/
!dashboard/buildkits/**/*
!/dashboard/data/
!/dashboard/data/*
!/dashboard/data/**
!/dashboard/data/**/
!/dashboard/data/**/*
!/dashboard/data/site-context.json
!/dashboard/buildkits/resources/markup
!/dashboard/buildkits/resources/markup/
!/dashboard/buildkits/resources/markup/*
!/dashboard/buildkits/resources/markup/**
!/dashboard/buildkits/resources/markup/**/*
.idea
!dashboard/buildkits/resources/css-resources/css-files/
!.gitignore
!/dashboard/**
!/dev/**
!gulpfile.js
!package.json
!/dashboard/package.json
!/dashboard/package-lock.json
!endpoints
!endpoints/
!endpoints/*
!endpoints/**
!endpoints/**/
!endpoints/**/*
!package-lock.json
!/tasks/
!/tasks/*
!/tasks/**/
!/tasks/**/*
!buildkits
!buildkits/
!buildkits/*
!buildkits/**
!buildkits/**/
!buildkits/**/*
!data
!data/
!data/**
!data/**/*
buildkits/resources/config/**
buildkits/resources/css-resources/**
buildkits/resources/temp
buildkits/resources/css-resources/01-css-temp/00-classic.less
buildkits/resources/css-resources/01-css-temp/01-content-top-oriented-subnav.less
buildkits/resources/temp/00-classic.php
buildkits/resources/temp/01-content-top-oriented-subnav.php
data/builder-data.json
../.idea/



