<!--
<div *ngIf="isModalShown" [config]="{ show: true }" (onHidden)="onHidden()" bsModal #autoShownModal="bs-modal"
     class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title pull-left text-danger">{{errorMessage}}</h6>

                <div *ngIf="alertType == 'confirm'">

                    <button type="button" class="btn btn-primary"
                            style="margin-top: 15px !important; width: 100%; "
                            aria-label="Confirm"
                            (click)="confirmCreate(true)">
                        {{confirmButtonText}}
                    </button>
                    <button type="button" class="btn btn-primary"
                            style="margin-top: 15px !important; width: 100%; "
                            aria-label="Close"
                            (click)="hideModal()">
                        <span aria-hidden="true">{{buttonText}}</span>
                    </button>
                    &lt;!&ndash;<button type="button" class="btn btn-primary"
                            style="margin-top: 15px !important;"
                            aria-label="Backup Account Buildkit"
                            (click)="backupAccountBuildkit(siteBuildKit)">
                        Backup {{siteBuildKit}}
                    </button>&ndash;&gt;
                    <div class="text-warning" *ngIf="backupStatus">Backup created</div>
                </div>

            </div>

            <div class="modal-body">
                <p class="modal-body-text">{{popupBody}}</p>
            </div>

        </div>

    </div>

</div>-->
