<div class="sliders-container container">
    <h1>Sliders</h1>
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8">
            <mat-tab-group>
                <mat-tab label="Office Tour">
                    <office-tour></office-tour>
                </mat-tab>
                <mat-tab label="Before and After">
                    <before-and-after></before-and-after>
                </mat-tab>

                <mat-tab label="Meet The Team">
                    <dev-meet-the-team></dev-meet-the-team>
                </mat-tab>


                <mat-tab label="Patient Forms">
                    <dev-patient-forms></dev-patient-forms>
                </mat-tab>

                <mat-tab label="Location">
                    <location></location>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
