<div class="col-lg-12 col-md-12 col-sm-12 ">
    <div class="home-page-link-icons">

        <span><a [routerLink]="['/home']" [routerLinkActive]="['active']">
                    <img class="image-manager-icon" src="assets/images/home-icon.png" alt="Home"/>
            <div class="small">Dashboard</div></a></span>

        <span><a [routerLink]="['/image-manager']" [routerLinkActive]="['active']">
                    <img class="image-manager-icon" src="assets/images/image-icon.png" alt="Image Manager"/>
            <div class="small">Images</div></a></span>

        <span><a [routerLink]="['/sitemap']" [routerLinkActive]="['active']">
                    <img class="image-manager-icon"
                         src="assets/images/sitemap-xxl.png"
                         alt="Sitemap"/>
            <div class="small">Sitemap</div></a></span>

        <span><a [routerLink]="['/redirects']" [routerLinkActive]="['active']">
                    <img class="image-manager-icon"
                         src="assets/images/redirects.png"
                         alt="Redirects"/>
            <div class="small">Redirects</div></a></span>

        <span><a [routerLink]="['/canadian-content']" [routerLinkActive]="['active']">
                    <img class="image-manager-icon"
                         src="assets/images/canadian-content.png"
                         alt="Canadian Content"/>
            <div class="small">Canadian</div></a></span>

    </div>
</div>