<!-- Admin navigaton -->
<span>
    <button mat-raised-button [routerLink]="['/admin']"
       [routerLinkActive]="['active']">
        <i class="fa fa-home" aria-hidden="true"></i> Admin
    </button>&nbsp;
</span>

<!-- Users -->
<span>
    <button mat-raised-button [routerLink]="['/user']"
       [routerLinkActive]="['active']">
        <i class="fa fa-user-plus" aria-hidden="true"></i> Users
    </button>&nbsp;
</span>

<!-- Library Pages -->
<span>
    <button mat-raised-button [routerLink]="['/manage-image-manager']"
       [routerLinkActive]="['active']">
        <i class="fa fa-file-image-o" aria-hidden="true"></i> Image Manager
    </button>&nbsp;
</span>

<span>
    <button mat-raised-button [routerLink]="['/changelog']"
            [routerLinkActive]="['active']">
        <i class="fa fa-file-image-o" aria-hidden="true"></i> Changelog
    </button>&nbsp;
</span>

<!-- Logout -->
<span>
    <button mat-raised-button  (click)="logout();">
        <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
    </button>&nbsp;
</span>


<br/><br/>
<hr/>
